@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<h3 class="text-black">
    Contact Us</br>
    Postal Address:</br>
    </br>
    College of Engg. Pune,</br>
    Wellesely Rd,</br>
    Shivajinagar,</br>
    Pune-411 005.</br>
    Maharashtra, INDIA.</br>
    </br>
    Telephone:+91-20-25507000</br>
    </br>
    Fax:+91-20-25507299</br>
</h3>