
@{
    ViewData["Title"] = "Course Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="row">
    <div class="col">
        <div class="card" style="background-color:#292b2c">

            <div style="padding-bottom:170px; padding-top:100px;" class="col-7 offset-1 text-light bg-primary">
                <h5 class="card-title">Address</h5>

                <p class="card-text">
                    Chirrakkal Palace,<br>
                    Bengalure, Karnataka,<br>
                    Pin: 676533

                </p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card bg-dark">


        </div>
    </div>
</div>
<br />
<div class="jumbotron text-dark bg-light">
    <h1 class="text-center">Welcome to Ur Faculty Management System!!!!!!</h1>
    <br>
    <p class="lead text-sm-center">
        This is an a online Faculty management system which helps to you monitor and control the information ,
        Through this a faculty can find his personal details, CourseTaughts and student can get to know the faculty Publications etc...
    </p>
    @*<hr class="my-2">
        <p>Our vision is to provide modern Faculty management system.</p>
        <a class="btn btn-primary btn-sm text-light " role="button">Learn more</a>*@
</div>