@model FacultyInformationSystemEntities.Publication

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_FacultyLayout.cshtml";
}

<h1>Create</h1>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePublication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublicationTitle" class="control-label"></label>
                <input asp-for="PublicationTitle" class="form-control" />
                <span asp-validation-for="PublicationTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleName" class="control-label"></label>
                <input asp-for="ArticleName" class="form-control" />
                <span asp-validation-for="ArticleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherLocation" class="control-label"></label>
                <input asp-for="PublisherLocation" class="form-control" />
                <span asp-validation-for="PublisherLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitationDate" class="control-label"></label>
                <input asp-for="CitationDate" class="form-control" />
                <span asp-validation-for="CitationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Faculty">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
